<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<display-name>LightClient</display-name> 
	<servlet>
		<servlet-name>FlexiTime</servlet-name>
		<display-name>FlexiTime</display-name>
		<servlet-class>fr.umlv.ir3.flexitime.lightClient.servlets.FlexiTime</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraitementTeacher</servlet-name>
		<display-name>TraitementTeacher</display-name>
		<servlet-class>fr.umlv.ir3.flexitime.lightClient.servlets.TraitementTeacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraitementStudent</servlet-name>
		<display-name>TraitementStudent</display-name>
		<servlet-class>fr.umlv.ir3.flexitime.lightClient.servlets.TraitementStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JAuth</servlet-name>
		<display-name>JAuth</display-name>
		<jsp-file>/flexitimeAuth.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>JNoAuth</servlet-name>
		<display-name>JNoAuth</display-name>
		<jsp-file>/flexitimeNoAuth.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlexiTime</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraitementTeacher</servlet-name>
		<url-pattern>/TraitementTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraitementStudent</servlet-name>
		<url-pattern>/TraitementStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JAuth</servlet-name>
		<url-pattern>/JAuth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JNoAuth</servlet-name>
		<url-pattern>/JNoAuth</url-pattern>
	</servlet-mapping>
</web-app>
